.button {
  width: var(--size-40);
  height: var(--size-40);
  border-radius: 50%;
  background: var(--button);
  fill: var(--textButton);
}

.button:active {
  filter: brightness(80%);
}

.add {
  position: fixed;
  bottom: var(--size-8);
  right: var(--size-8);
}

.back {
  position: fixed;
  bottom: var(--size-8);
  left: var(--size-8);
}

.menu {
  position: fixed;
  top: var(--size-8);
  right: var(--size-8);
}

.revert {
  position: fixed;
  top: var(--size-8);
  left: var(--size-8);
}
