.note {
  margin-top: var(--size-4);
  margin-right: var(--size-8);
  margin-left: var(--size-8);
  user-select: none;
}

.noteDragging {
  margin-top: calc(var(--noteHeight) + 2 * var(--size-4));
  height: 0;
}

.content {
  display: flex;
}

.contenDragging {
  display: none;
}
