.notes {
  margin-bottom: var(--size-48);
}

.appName {
  --logoSize: var(--size-40);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--size-8) 0;
  color: var(--button);
  font-size: var(--logoSize);
}

.logo {
  width: var(--logoSize);
  height: var(--logoSize);
  margin-right: var(--size-4);
}

.parent {
  min-height: var(--noteHeight);
  margin: var(--size-4);
  margin-bottom: var(--size-8);
  display: flex;
  border: var(--size-4) solid var(--highlight);
}

.handle {
  flex-shrink: 0;
  width: var(--handleWidth);
  background: var(--shadeLight);
}

.text {
  flex-grow: 1;
  padding: var(--size-8);
  user-select: none;
  white-space: pre-wrap;
}
