:root {
  --background: #989898;
  --button: #585858;
  --font: 'OpenSans-Regular', 'Helvetica Neue', sans-serif;
  --fontSizeSmall: 0.8rem;
  --handleWidth: 50px;
  --noteHeight: calc(3.6em + 2 * var(--size-8));
  --highlight: #ffffff;
  --radius: 4px;
  --radiusLarge: 8px;
  --dialog: #ffffff;
  --shade: #00000020;
  --shadeDark: #00000060;
  --shadeLight: #00000018;
  --text: #202020;
  --textLight: #585858;
  --size-4: 4px;
  --size-8: 8px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-64: 64px;
  --textButton: #fafafa;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./assets/OpenSans-Regular.ttf') format('truetype');
}

html, body {
  font-family: var(--font);
  line-height: 1.2em;
}

h1 {
  text-align: center;
}
